.footer {
  display: flex;
  width: 100%;
  flex: 1;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  position: absolute;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
