.container {
  height: calc(100vh - 200px);
  overflow: hidden;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
